<odoo>
    <!-- Top menu item -->
  <menuitem name="UpoSports" id="main_uposports_menu" groups="group_uposports_manager"/>

  <!-- menu categories -->
  <menuitem name="UpoSports" id="uposports_menu" groups="group_uposports_manager" parent="main_uposports_menu"/>

  <!-- actions -->
  <menuitem name="Material" id="material_menu" parent="uposports_menu" groups="group_uposports_manager" action="material_list_action"/>
  <menuitem name="Pago" id="pago_menu" parent="uposports_menu" groups="group_uposports_manager" action="pago_list_action"/>
</odoo>