<odoo>
    <!-- Top menu item -->
  <menuitem name="UpoSports" id="main_uposports_menu" groups="group_uposports_manager"/>

  <!-- menu categories -->
  <menuitem name="UpoSports" id="uposports_menu" groups="group_uposports_manager" parent="main_uposports_menu"/>

  <!-- actions -->
  <menuitem name="Reservas" id="reserva_menu" parent="uposports_menu" groups="group_uposports_manager" action="reserva_list_action"/>
  <menuitem name="Abonos" id="abono_menu" parent="uposports_menu" groups="group_uposports_manager" action="abono_list_action"/>
  <menuitem name="Clientes" id="cliente_menu" parent="uposports_menu" groups="group_uposports_manager" action="cliente_list_action"/>
  <menuitem name="Materiales" id="material_menu" parent="uposports_menu" groups="group_uposports_manager" action="material_list_action"/>
  <menuitem name="Empleados" id="empleado_menu" parent="uposports_menu" groups="group_uposports_manager" action="empleado_list_action"/>
  <menuitem name="Instalaciones" id="instalacion_menu" parent="uposports_menu" groups="group_uposports_manager" action="instalacion_list_action"/>
  <menuitem name="Pago" id="pago_menu" parent="uposports_menu" groups="group_uposports_manager" action="pago_list_action"/>


  <!-- menu categories -->
  <menuitem name="UpoSports" id="uposports_menu" groups="group_uposports_manager" parent="main_uposports_menu"/>

  <!-- actions -->

</odoo>

